@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; 
  overflow-x: hidden;
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background: #44a613;
    display: flex;
}

.menu-items {
    padding: 40px 60px;
    flex-grow: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.menu-items__option {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px 36px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid #9d9d9d;
    border-right: none;
    border-bottom: none;
    border-left:  none;
    background: none;
}

.menu-items__option--active {
    border: none;
    background: #3b8e11;
}

.menu-items__option-list {
    list-style-type: none;
}

.menu-items__option-list-item {
    list-style-type: none;
    padding: 20px 36px;
    font-size: 0.9rem;
}

.menu-items__option-list-link {
    text-decoration: none;
    color: inherit;
}

.menu-close-container {
    padding: 15px 10px;
}

.menu-close-container__button {
    background: none;
    border: none;
}

.menu-close-container__icon {
    font-size: 2.2rem;
    cursor: pointer;
    color: #364236
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    border-top: 1px #9d9d9d;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    z-index: 1;
}

.access-account {
    order: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4px 8px;
    margin-right: 0px;
}

.access-account__label {
    color: #364236;
    font-weight: bold;
}

.access-account__caret-down {
    color: #44a613;
    margin-left: 8px;
}

.access-account__input {
    margin-left: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.access-account__input::placeholder {
    color: #C0C0C0; 
}

.access-account__submit-button {
    background: none;
    border: none;
}

.access-account__arrow-right {
    color: #44a613;
    margin-left: 10px;
}

.header-actions {
    order: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-actions__action-icons {
    display: flex;
}


.header-actions__open-account-button {
    font-weight: bold;
    padding: 11px 15px;
    background: #44a613;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-right: 16px;
    cursor: pointer;

}

.header-actions__search {
    background: #364236;
    padding: 14px 16px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.header-actions__toggle-menu {
    background: #44a613;
    padding: 14px 16px;
    color: #fff;
    cursor: pointer;
    border: none;
}

.main-content-container {
    background: #fbfbfb;
    margin-top: 90px;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 12px;
}

.main-info__header {
    font-size: 2rem;
    color: #9d9d9d;
    font-weight: lighter;
}

.main-info__header-highlight {
    color: #76c948;
}

.main-info__paragraph {
    font-size: 1rem;
    color: #9d9d9de3;
}

.main-image {
    background-image: url(../assets/picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    width: 100%;
}

.extra-info {
    flex: 1;
    padding: 4px 12px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: start;
}

.extra-info__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.extra-info__header {
    font-size: 1rem;
    color: #76c948;
}

.extra-info__list {
    list-style-type: none;
}

.extra-info__list-item {
    color: #9d9d9d;
    padding-bottom: 4px;
}

.extra-info__list-link {
    text-decoration: none;
    color: inherit;
}

.extra-info__list-item-badge {
    background-color: #ffec9d;
    border-radius: 12px;
    padding: 3px 6px;
    font-weight: bold;
}

.hidden {
    display: none;
}


@media only screen and (min-width: 768px) {
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 48vw;
        overflow: auto;
        z-index: 2;
    }
    
    .header {
        height: 47px;
        flex-direction: row;
        justify-content: end;
        align-items: center;;
    }

    .access-account {
        order: 1;
        justify-content: start;
        margin-right: 65px;
    }

    .header-actions {
        order: 2;
        justify-content: start;
    }

    .main-content-container {
        margin-top: 47px;
    }

    .main-image {
        height: 400px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .main-content {
        flex-direction: row;
    }


    .extra-info {
        justify-content: end;
    }

    .main-image {
        flex: 1;
        height: 550px;
    }
    
}

  @media only screen and (min-width: 1280px) {
    .main-content-container {
        width: 1240px;
    }

    .main-info {
       gap: 25px;
    }

    .main-info__header {
        font-size: 3rem;
    }

    .main-info__paragraph {
        font-size: 1.2rem;
    }

}